# General binaries #

bin/

# Java build artifacts #

*.class

# Gradle related files #

.gradle
/build/

# Packaged Java files #

*.jar

# Netbeans specific files #

/nbproject/private
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Eclipse related files #

.classpath
.project

# Fix Jeffrey's nonsense #

private/
