/*
 * This is the master FX-CSS stylesheet for the application.
 *
 * All FXML files in the application should declare this stylesheet before 
 * any others. This can be easily done in the Scene Builder.
 */

.root {
    -fx-background-color: powderblue;
    -fx-font-family: "Sans Serif";
    -fx-pref-width: 1000;
    -fx-pref-height: 800;
}

.screenHeader {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Sans Serif";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(rgba(3, 120, 89, 1), rgba(3, 120, 89, 0.5));
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: mediumseagreen;
    -fx-cursor: hand;
}

.button:focused {
    -fx-underline: true;
}

.validationErrorText {
    -fx-text-fill: #FF0000;
}

.invalidField {
    -fx-background-color: rgba(255, 0, 0, 0.5);
}

.subheader {
    -fx-font-weight: bold;
}

.bookingStatusLabel {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

#loginDialog {
    -fx-pref-width: 400;
    -fx-pref-height: 200;
}

#resetEmployeePasswordDialog {
    -fx-pref-width: 500;
    -fx-pref-height: 420;
}

#createStaffAccountDialog {
    -fx-pref-width: 550;
    -fx-pref-height: 530;
}
