/*
 * This is the master FX-CSS stylesheet for the application.
 *
 * All FXML files in the application should declare this stylesheet before 
 * any others. This can be easily done in the Scene Builder.
 */

.root {
    -fx-background-color: linear-gradient( rgb(204, 228, 252), rgb(3, 67, 131));
    -fx-font-family: "Sans Serif";
}

.screenHeader {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Sans Serif";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(rgba(3, 120, 89, 1), rgba(3, 120, 89, 0.5));
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(rgba(3, 120, 89, 0.5), rgba(3, 120, 89, 1));
    -fx-cursor: hand;
}

.validationErrorText {
    -fx-text-fill: #FF0000;
}

.chart-legend {
    
}

.chart-legend-item {

}
